@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.flash-animation {
    animation: flash 2s ease-in-out;
}
/* ✅ Rotating Animation for FaSync */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sync-animation {
    animation: rotate 2s linear infinite;
}